
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand color" href="/">BUDGET APP</a>
  <div class="navbar" id="navbarSupportedContent">
    <ul class="sign-in-up ml-auto">
        <% if user_signed_in? %>
            <li class="nav-item">
                <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
                <%= link_to 'Register', new_user_registration_path, class: 'nav-link' %>
            </li>
        <% end %>
    </ul>
  </div>
</nav>