
  body {
    background: #95f3f8;
  }
  
  
  .light {
    background-color: #404e5d;
  }

  .nav-link {
    padding: 0;
    color: white;
    background-color: #404e5d;
  }

  .navbar-light .navbar-brand {
    color: white;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .main_page {
    margin-top: 40px;
  }

  .welcome,
  h1,
  h2 {
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .main_parag {
    margin-top: 10%;
    justify-content: center;
    width: 50%;
  }

  .actions {
    margin-top: 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
  }

  .sign-in-up {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
  }

  .category-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  nav p {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category-list-items {
    display: flex;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  .category-items-details {
    display: flex;
    width: 200%;
    gap: 20px;
    padding: 10px;
  }

  .category-items-details h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .category-items-details p {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .page-btns {
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
  }

  button {
    margin: 0;
    font-family: inherit;
    border: none;
    padding: 0;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .bg-primary-blue {
    background-color: #3778c2;
    color: white;
  }

  .field {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #3778c2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  img {
    width: 15vw;
    height: auto;
  }

  .group_holder {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .group_card {
    width: 500px;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  .card_element {
    display: flex;
    align-items: center;
  }

  .picture_holder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }

  .Image_icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .name_holder {
    flex: 1;
  }

  .category_name {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .detail_description {
    font-size: 16px;
  }

  .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .transaction_detail {
    display: flex;
    gap: 10px;
  }

  .total_transaction {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .total_font {
    font-size: 24px;
  }

  a {
    text-decoration: none;
  }

  .navigation_link {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .category_description {
    display: flex;
    width: 75vw;
    justify-content: space-between;
    align-items: center;
  }

  .sign_in_holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sign_in_fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

